<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="todo:TodoListBaseAddress" value="https://mmTodoListService.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ida:RedirectUri" value="https://mmtodolistwebapp.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
